

@model IEnumerable<ScaffolderWithJQueryDT.Models.TestModel>

@{
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = ViewContext.RouteData.Values["action"].ToString();
    ViewBag.Title = ScaffolderWithJQueryDT.Helper.GetViewName.GetViewTitle(controller, action);
}

<h2>@ViewBag.Title @Resources.Global.Added</h2>

<p>
    @Html.ActionLink(Resources.Global.Create, "Create",null, new { @class = "btn btn-info" })
</p>
<hr />

<p>
    <button id="editLink" onclick="GoToWindow('/@ViewContext.RouteData.Values["controller"].ToString()/Edit?id=')" class="btn btn-success">@Resources.Global.Edit</button>
    <button id="detailsLink" onclick="GoToWindow('/@ViewContext.RouteData.Values["controller"].ToString()/Details?id=')" class="btn btn-info">@Resources.Global.Details</button>
    <button id="deleteLink" onclick="GoToWindow('/@ViewContext.RouteData.Values["controller"].ToString()/Delete?id=')" class="btn btn-danger">@Resources.Global.Delete</button>
</p>

<div style="margin:30px;">
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr style="text-align:left;">
                												<th>
								@Html.DisplayNameFor(model => model.ID)
							</th>
																	<th>
								@Html.DisplayNameFor(model => model.firstName)
							</th>
																	<th>
								@Html.DisplayNameFor(model => model.lastName)
							</th>
																	<th>
								@Html.DisplayNameFor(model => model.Hobby)
							</th>
																	<th>
								@Html.DisplayNameFor(model => model.Degree)
							</th>
					            </tr>
        </thead>

        <tfoot>
            <tr style="text-align:left;">
                												<th>
								@Html.DisplayNameFor(model => model.ID)
							</th>
																	<th>
								@Html.DisplayNameFor(model => model.firstName)
							</th>
																	<th>
								@Html.DisplayNameFor(model => model.lastName)
							</th>
																	<th>
								@Html.DisplayNameFor(model => model.Hobby)
							</th>
																	<th>
								@Html.DisplayNameFor(model => model.Degree)
							</th>
					            </tr>
        </tfoot>
    </table>
</div>

@section Scripts{
    <script>
	    $( "#editLink" ).prop( "disabled", true );
        $( "#detailsLink" ).prop( "disabled", true );
        $( "#deleteLink" ).prop( "disabled", true );
		var seleID= 0;

        $(document).ready(function () {

            $('#example')
                .removeClass('display')
                .addClass('table table-striped table-bordered');
            $('#example').dataTable({
                "processing": true,
                "serverSide": true,
                "info": true,
                "stateSave": true,
                "lengthMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
                "ajax": {
                    "url": "/@ViewContext.RouteData.Values["controller"].ToString()/AjaxGetJsonData",
                    "type": "GET"
                },
                "columns": [
                    												{ "data": "ID", "orderable": true },		
																	{ "data": "firstName", "orderable": true },		
																	{ "data": "lastName", "orderable": true },		
																	{ "data": "Hobby", "orderable": true },		
																	{ "data": "Degree", "orderable": true },		
					                ],
                "order": [[0, "asc"]]
            });
			    var table = $('#example').DataTable();
			   $('#example tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                    seleID = 0;
                    $( "#editLink" ).prop( "disabled", true );
                    $( "#detailsLink" ).prop( "disabled", true );
                    $( "#deleteLink" ).prop( "disabled", true );
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
											  seleID = table.row('.selected').data().ID;	
					             
                    $( "#editLink" ).prop( "disabled", false );
                    $( "#detailsLink" ).prop( "disabled", false );
                    $( "#deleteLink" ).prop( "disabled", false );
                }
            });
        });

		
        function GoToWindow(linkToGo){
            if(seleID == 0){
                alert('Please select a row, before clicking on this button!');
            }
            else{
                window.location.href = linkToGo + seleID;
            }}
    </script>
}

